#title {
    color: #1e366a;
    border-bottom: solid #1e366a 3px;/*下のボーダー*/
    padding: 0.5em 0 0.8em 0em;
}

/* タスクのタイトル名 */
.cp_iptxt {
    color: #000000;
	position: relative;
	width: 80%;
	margin: 40px 3%;
    font-size: 20px;
    font-weight: bold;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
    margin: 10px;
}

.ef input[type='text']:focus {
	outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.cp_iptxt label {
    margin-bottom: 5px; /* ラベルとテキストボックスの間に空間を作成 */
}

/*テキストボックスサイズの調整*/
#DetailInput {
    padding-bottom: 170px;
    width: 100%; /* テキストボックスの幅を100%に設定 */
    height: 200px; /* テキストボックスの高さを40ピクセルに設定 */
    font-size: 18px; /* フォントサイズを調整 */
}

/*日付け入力のデザイン*/
.datetime {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 36px;
    border: 2px solid #ccc;
    border-radius: 15px;
}
.datetime input[type="datetime-local"] {
    position: relative;
    padding: 0 10px;
    width: 200px;
    height: 36px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    font-size: 14px;
    color: #999;
}

/*写真のサイズ調整*/
.img-small {
    width: 30px !important; /* 必要に応じてサイズを変更 */
    height: auto !important; /* 高さを自動で調整 */
}
